/****************************************
  Inherited Syles
*****************************************/

html {
  box-sizing: border-box;
  font: 15pt 'Open Sans', Arial;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}


/****************************************
  Defaults
*****************************************/

div.hero {
  background-color: lightblue;
}

div.primary-content {
  background-color: purple;
}

.panel > div {
  width: 1220px;
  margin: 0 auto;
  min-height: 600px;
  position: relative;
  background-color: black;
}

.banner h2 {
  font-size: 28pt;
}

h4 {
  font-weight: bold;
}

.puppy-description h4 {
  margin: 0;
}


/****************************************
  Helpers
*****************************************/

.cf::after {
  content: '';
  display: block;
  clear: both;
}

section.puppy-tiles p, section.puppy-tiles h4 {
  margin: 0;
}

/****************************************
  Layout
*****************************************/

.primary-header {
  background-color: orange;
  position: relative;
  min-height: 150px;
}

.primary-header .logo {
  background-color: red;
  position: absolute;
  top: 5px;
  left: 5px;
}

form.primary-search {
  background-color: blue;
  position: absolute;
  top: 10px;
  right: 0;
}

.primary-nav {
  background-color: green;
  min-height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner-container {
  background-color: black;
  min-height: 350px;
  position: relative;
}

.banner {
  background-color: magenta;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}

.primary-info {
  background-color: green;
  text-align: center;
}

.primary-info div {
  background-color: limegreen;
  display: inline-block;
  transform: translateY(-25px);
}

.primary-info h4 {
  margin-top: 10px;
}

.primary-info > * + * {
  margin-left: 15px;
}

.puppy-info {
  background-color: indianred;
}

.puppy-aside {
  background-color: lightgreen;
  float: left;
  width: 480px;
}

section.puppy-tiles > div {
  width: 200px;
}


/****************************************
  Components
*****************************************/

.logo {
  font: 38pt Lobster;
  color: white;
  margin: 0;
}

.primary-nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
}

.info-tab {
  min-height: 200px;
  width: 370px;
}

section.puppy-tiles {
  background-color: blue;
  margin-left: 480px;
}

section.puppy-tiles div {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  background-color: yellow;
}

div.puppy-object {
  background-color: red;
  margin: 10px;
}

div.puppy-object img {
  float: left;
  width: 100px;
  height: 100px;
}

div.puppy-description {
  background-color: yellow;
  margin-left: 100px;
}

div.puppy-description p {
  margin: 3px 0 0 0;
}

section.puppy-tiles img {
  height: 200px;
  width: 200px;
}


